In [1]:
import pandas as pd

In [2]:
ORDERS_DATASET_PATH = 'orders_20190822.csv'

In [3]:
df = pd.read_csv(ORDERS_DATASET_PATH, sep=";", engine='python')

In [4]:
df.dtypes

id_o        int64
user_id     int64
price      object
o_date     object
dtype: object

In [5]:
df['price'] = df['price'].str.replace(',','.')

In [6]:
df['price'] = df['price'].astype(float)

In [7]:
df['o_date'] = df['o_date'].astype('datetime64[ns]')

In [8]:
df.dtypes

id_o                int64
user_id             int64
price             float64
o_date     datetime64[ns]
dtype: object

In [9]:
df.groupby(['user_id'])['id_o'].count()

user_id
0          1
1          2
76         2
90         4
91         4
          ..
5919114    1
5919118    1
5919128    1
5919142    1
5919156    1
Name: id_o, Length: 1015119, dtype: int64

In [47]:
df.groupby(['user_id'])['id_o'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(5)

       user_id  count
81234   765861   3183
1318     39506   2698
21385   221047   2347
16469   186744   2242
2690     53832   2061

In [10]:
df['year'] = df['o_date'].dt.year

In [11]:
df['month'] = df['o_date'].dt.month

#### 2. Проанализировать, какой период данных выгружен

In [12]:
df["o_date"].min()

Timestamp('2016-01-01 00:00:00')

In [13]:
df["o_date"].max()

Timestamp('2017-12-31 00:00:00')

#### 3. Посчитать кол-во строк, кол-во заказов и кол-во уникальных пользователей, кот совершали заказы.

In [19]:
df.groupby("id_o").nunique().count()

id_o       2002804
user_id    2002804
price      2002804
o_date     2002804
year       2002804
month      2002804
dtype: int64

In [20]:
df.groupby("user_id").nunique().count()

id_o       1015119
user_id    1015119
price      1015119
o_date     1015119
year       1015119
month      1015119
dtype: int64

#### 4. По годам посчитать средний чек, среднее кол-во заказов на пользователя, сделать вывод , как изменялись это показатели Год от года.

In [14]:
df.loc[df['year'] == 2016, 'price'].mean()

2095.5837173950863

In [15]:
df.loc[df['year'] == 2017, 'price'].mean()

2398.3929225575275

In [16]:
df16 = df.loc[df['year'] == 2016]
df17 = df.loc[df['year'] == 2017]

In [17]:
df16.groupby(['user_id'])['id_o'].count().mean()

1.9352089006317794

In [18]:
df17.groupby(['user_id'])['id_o'].count().mean()

1.74296603725183

#### 5. Найти кол-во пользователей, кот покупали в одном году и перестали покупать в следующем.

In [30]:
df16.merge(df17, on=['user_id'], how='inner').groupby('user_id').count()

,id_o_x,price_x,o_date_x,year_x,month_x,id_o_y,price_y,o_date_y,year_y,month_y
user_id,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1
76,1,1,1,1,1,1,1,1,1,1
90,3,3,3,3,3,3,3,3,3,3
91,3,3,3,3,3,3,3,3,3,3
95,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...
2838194,2,2,2,2,2,2,2,2,2,2
2838200,7,7,7,7,7,7,7,7,7,7
2838201,2,2,2,2,2,2,2,2,2,2
2838270,4,4,4,4,4,4,4,4,4,4
2838405,12,12,12,12,12,12,12,12,12,12

#### 6. Найти ID самого активного по кол-ву покупок пользователя.

In [32]:
df.groupby(['user_id'])['id_o'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

       user_id  count
81234   765861   3183
1318     39506   2698
21385   221047   2347
16469   186744   2242
2690     53832   2061

#### 7. Найти коэффициенты сезонности по месяцам.

In [23]:
mean_orders_16 = df16['id_o'].count()/12
mean_orders_16

71778.83333333333

In [24]:
mean_orders_17 = df17['id_o'].count()/12
mean_orders_17

95121.5

In [25]:
grouped_df2016 = df16.groupby(['month'])['id_o'].count()
grouped_df2016

month
1      53246
2      47379
3      63248
4      65640
5      64555
6      61644
7      61442
8      71624
9      73581
10     85512
11    101650
12    111825
Name: id_o, dtype: int64

In [26]:
grouped_df2017 = df17.groupby(['month'])['id_o'].count()
grouped_df2017

month
1      83687
2      72075
3      85632
4      81915
5      95933
6      87315
7      87807
8      88024
9      85807
10    102424
11    125467
12    145372
Name: id_o, dtype: int64

In [27]:
grouped_df2016 / mean_orders_16

month
1     0.741806
2     0.660069
3     0.881151
4     0.914476
5     0.899360
6     0.858805
7     0.855991
8     0.997843
9     1.025107
10    1.191326
11    1.416156
12    1.557911
Name: id_o, dtype: float64

In [28]:
grouped_df2017 / mean_orders_17

month
1     0.879791
2     0.757715
3     0.900238
4     0.861162
5     1.008531
6     0.917931
7     0.923104
8     0.925385
9     0.902078
10    1.076770
11    1.319018
12    1.528277
Name: id_o, dtype: float64